body {
  font-family: "Poppins", serif;
}
.container {
  max-width: 1160px;
}
.all_heading {
  padding-bottom: 90px;
}
.all_heading h2 {
  font-size: 75px;
}
.all_heading p {
  font-size: 33px;
  font-weight: 500;
}

/* Header section start */
header .navbar {
  background-color: #daac00;
}
header .navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
header .navbar-brand img {
  width: 80px;
  margin-right: 10px;
}
header .navbar-brand .brand-text {
  font-weight: bold;
}
header .navbar-brand .brand-subtext {
  font-size: 0.8rem;
}
header .nav-link {
  color: white !important;
  font-weight: bold;
  font-size: 30px;
}
header .nav-link:hover {
  text-decoration: underline;
}
header .form-control {
  border-radius: 0;
  background-color: #fcc302;
}
header .form-control::placeholder {
  color: white;
}
header .form-control:focus {
  background-color: #fcc302;
  box-shadow: none;
}
header .btn {
  background-color: #00bec9;
  color: white;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  -ms-border-radius: 10;
  -o-border-radius: 10;
}
header .btn:hover {
  color: white;
  background-color: #0097a7;
}

/* Header section end */


/* Hero section start */
main .hero_section {
  background-color: #fcc302;
  padding-top: 90px;
  padding-bottom: 114px;
}
main .hero_section h1 {
  font-size: 68px;
  color: #fff;
  font-weight: 600;
}
main .hero_section p {
  color: #fff;
  font-size: 30px;
}
main .hero_section .btn {
  color: #fff;
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 24px 30px;
}
main .hero_section .btn:hover {
  background-color: #00bec9;
  border: 3px solid #00bec9;
}
main .hero_section .btn:focus {
  outline: none;
}
main .hero_section .second_btn {
  border: 1px solid #fff;
}
/* Hero section end */


/* Animal love section start */
main .animal_love {
  padding: 142px 0px;

}
main .animal_love h2 {
  font-size: 50px;
  color: #313243;
}
main .animal_love p {
  color: #313243;
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 10px;
}
main .animal_love .dog_video{
  position: relative;
  z-index: 1;
}
main .animal_love .dog_video::after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 40%;
  height: 40%;
  background-color: #fcc302;
  z-index: -1;
}

main .animal_love .btn {
    color: #fff;
  background-color: #fcc302;
  font-weight: 600;
  font-size: 20px;
  padding: 27px 30px;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
main .animal_love .btn:hover {
    color: white;
  background-color: #0097a7;
}
/* Animal love section end */



/* Gallery Section start */
main .gallery_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fcc302;
}
main .gallery_section .card {
  background-color: #fcc302;
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
main .gallery_section .card-title{
    padding-top: 40px;
  font-size: 37px;
  color: #fff;
  font-weight: 600;
}
main .gallery_section .card-text{
  font-size: 25px;
  color: #fff;
  font-weight: 400;
}
/* Gallery Section end */